.content_product {
  display: flex;
  justify-content: space-around;
}

.box_one {
  width: 40%;
}

.box_two {
  width: 50%;
  border: 1px solid red;
}

.box_one > img {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 800px) {
}
